
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRecognitionRecordLabel" data-translate="glxssSecurityApp.recognitionRecord.home.createOrEditLabel">Create or edit a Recognition Record</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.recognitionRecord.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.recognitionRecord.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="glxssSecurityApp.recognitionRecord.type" for="field_type">Type</label>
            <input type="number" class="form-control" name="type" id="field_type"
                    ng-model="vm.recognitionRecord.type"
                    required/>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.type.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="glxssSecurityApp.recognitionRecord.sourcePicId" for="field_sourcePicId">Source Pic Id</label>
            <input type="text" class="form-control" name="sourcePicId" id="field_sourcePicId"
                    ng-model="vm.recognitionRecord.sourcePicId"
                    required/>
            <div ng-show="editForm.sourcePicId.$invalid">
                <p class="help-block"
                    ng-show="editForm.sourcePicId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="glxssSecurityApp.recognitionRecord.similarity" for="field_similarity">Similarity</label>
            <input type="number" class="form-control" name="similarity" id="field_similarity"
                    ng-model="vm.recognitionRecord.similarity"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="glxssSecurityApp.recognitionRecord.attention" for="field_attention">Attention</label>
                <input type="checkbox" name="attention" id="field_attention"
                          ng-model="vm.recognitionRecord.attention"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="glxssSecurityApp.recognitionRecord.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.recognitionRecord.latitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="glxssSecurityApp.recognitionRecord.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.recognitionRecord.longitude"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setInfo($file, vm.recognitionRecord)">
            <label class="control-label" data-translate="glxssSecurityApp.recognitionRecord.info" for="field_info">Info</label>
            <div>
                <div ng-if="vm.recognitionRecord.info" class="help-block clearfix">
                    <span class="pull-left">{{vm.recognitionRecord.infoContentType}}, {{vm.byteSize(vm.recognitionRecord.info)}}</span>
                    <button type="button" ng-click="vm.recognitionRecord.info=null;vm.recognitionRecord.infoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setInfo($file, vm.recognitionRecord)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="info" id="field_info"
                    ng-model="vm.recognitionRecord.info"
                    />
            <input type="hidden" class="form-control" name="infoContentType" id="field_infoContentType"
                    ng-model="vm.recognitionRecord.infoContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="glxssSecurityApp.recognitionRecord.deleted" for="field_deleted">Deleted</label>
                <input type="checkbox" name="deleted" id="field_deleted"
                          ng-model="vm.recognitionRecord.deleted"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="glxssSecurityApp.recognitionRecord.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.recognitionRecord.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="glxssSecurityApp.recognitionRecord.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                <div class="input-group">
                    <input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" datetime-picker="{{dateformat}}" ng-model="vm.recognitionRecord.lastModifiedDate" is-open="vm.datePickerOpenStatus.lastModifiedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastModifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="glxssSecurityApp.recognitionRecord.createdBy" for="field_createdBy">Created By</label>
            <select class="form-control" id="field_createdBy" name="createdBy" ng-model="vm.recognitionRecord.createdById" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="glxssSecurityApp.recognitionRecord.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <select class="form-control" id="field_lastModifiedBy" name="lastModifiedBy" ng-model="vm.recognitionRecord.lastModifiedById" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="glxssSecurityApp.recognitionRecord.workRecord" for="field_workRecord">Work Record</label>
            <select class="form-control" id="field_workRecord" name="workRecord" ng-model="vm.recognitionRecord.workRecordId" ng-options="workRecord.id as workRecord.id for workRecord in vm.workrecords"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
