<div>
    <h2 data-translate="glxssSecurityApp.localFace.home.title" data-translate-values="{ name: vm.faceSet.name }">Local Faces</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="local-face-glxss.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="glxssSecurityApp.localFace.home.createLabel">
                        Create new Local Face
                    </span>
                </button>
                <button type="submit"
                        ui-sref="local-face-set-glxss"
                        class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="glxssSecurityApp.localFace.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="glxssSecurityApp.localFace.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="personId"><span data-translate="glxssSecurityApp.localFace.personId">Person Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gender"><span data-translate="glxssSecurityApp.localFace.gender">Gender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="birthday"><span data-translate="glxssSecurityApp.localFace.birthday">Birthday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="attention"><span data-translate="glxssSecurityApp.localFace.attention">Attention</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="model"><span data-translate="glxssSecurityApp.localFace.model">Model</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="glxssSecurityApp.localFace.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedDate"><span data-translate="glxssSecurityApp.localFace.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="localFace in vm.localFaces track by localFace.id">
                    <td><a ui-sref="local-face-glxss-detail({id:localFace.id})">{{localFace.id}}</a></td>
                    <td><storage-img picid="localFace.image" class="pic-sm"/></td>
                    <td>{{localFace.name}}</td>
                    <td>{{localFace.personId}}</td>
                    <td><person-gender gender="localFace.gender"/></td>
                    <td>{{localFace.birthday | date:'mediumDate'}}</td>
                    <td>
                        <span class="danger label-danger" ng-if="localFace.attention" data-translate="glxssSecurityApp.localFace.attention">Attention</span>
                    </td>
                    <td>{{localFace.model}}</td>
                    <td>{{localFace.createdDate | date:'medium'}}</td>
                    <td>{{localFace.lastModifiedDate | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="local-face-glxss-detail({id:localFace.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="local-face-glxss.edit({id:localFace.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="local-face-glxss.delete({id:localFace.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
